### Final Project EDA

### Kelsea Figaro
## 11/19/25

## This Final Project looks at a dataset about the populations of Wolves in Denali National Park in Alaska

## Import Pandas and read in the csv file of the dataset

In [19]:
import pandas as pd

In [20]:
df= pd.read_csv('Wolf.csv')

## Start Exploring the Dataset

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Year                                      39 non-null     int64
 1   Number_of_Packs_Monitored_Spring          39 non-null     int64
 2   Number_of_Packs_Monitored_Fall            39 non-null     int64
 3   Wolves_Counted_Spring                     39 non-null     int64
 4   Wolves_Counted_Fall                       39 non-null     int64
 5   Mean_Pack_Size_Spring                     39 non-null     float64
 6   Mean_Pack_Size_Fall                       39 non-null     float64
 7   Area_Square_KM_of_Monitored_Packs_Spring  39 non-null     object
 8   Area_Square_KM_of_Monitored_Packs_Fall    39 non-null     object
dtypes: float64(2), int64(5), object(2)
memory usage: 2.9+ KB

In [22]:
df.columns

Index(['Year', 'Number_of_Packs_Monitored_Spring',
       'Number_of_Packs_Monitored_Fall', 'Wolves_Counted_Spring',
       'Wolves_Counted_Fall', 'Mean_Pack_Size_Spring', 'Mean_Pack_Size_Fall',
       'Area_Square_KM_of_Monitored_Packs_Spring',
       'Area_Square_KM_of_Monitored_Packs_Fall'],
      dtype='object')

In [23]:
df.describe()

,Year,Number_of_Packs_Monitored_Spring,Number_of_Packs_Monitored_Fall,Wolves_Counted_Spring,Wolves_Counted_Fall,Mean_Pack_Size_Spring,Mean_Pack_Size_Fall
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000
mean,2005.000000,12.512821,12.333333,72.974359,88.256410,5.917949,7.194872
std,11.401754,3.007638,2.985344,19.577763,26.331608,1.363407,1.820056
min,1986.000000,4.000000,4.000000,26.000000,22.000000,4.100000,5.000000
25%,1995.500000,10.000000,11.000000,61.000000,73.000000,4.900000,5.800000
50%,2005.000000,12.000000,12.000000,70.000000,85.000000,5.700000,7.000000
75%,2014.500000,14.500000,14.000000,84.000000,105.000000,6.950000,7.950000
max,2024.000000,20.000000,20.000000,111.000000,147.000000,10.600000,12.400000

In [24]:
df.dtypes

Year                                          int64
Number_of_Packs_Monitored_Spring              int64
Number_of_Packs_Monitored_Fall                int64
Wolves_Counted_Spring                         int64
Wolves_Counted_Fall                           int64
Mean_Pack_Size_Spring                       float64
Mean_Pack_Size_Fall                         float64
Area_Square_KM_of_Monitored_Packs_Spring     object
Area_Square_KM_of_Monitored_Packs_Fall       object
dtype: object

In [25]:
df.shape

(39, 9)

In [26]:
df.head(5)

,Year,Number_of_Packs_Monitored_Spring,Number_of_Packs_Monitored_Fall,Wolves_Counted_Spring,Wolves_Counted_Fall,Mean_Pack_Size_Spring,Mean_Pack_Size_Fall,Area_Square_KM_of_Monitored_Packs_Spring,Area_Square_KM_of_Monitored_Packs_Fall
0,1986,4,4,26,22,6.5,5.5,"7,380","8,180"
1,1987,8,9,37,70,4.6,7.8,"12,125","13,150"
2,1988,14,14,69,121,4.9,8.6,"15,355","14,670"
3,1989,13,11,98,127,7.5,11.5,"16,810","15,240"
4,1990,10,11,106,136,10.6,12.4,"13,930","13,930"

In [27]:
df.tail()

,Year,Number_of_Packs_Monitored_Spring,Number_of_Packs_Monitored_Fall,Wolves_Counted_Spring,Wolves_Counted_Fall,Mean_Pack_Size_Spring,Mean_Pack_Size_Fall,Area_Square_KM_of_Monitored_Packs_Spring,Area_Square_KM_of_Monitored_Packs_Fall
34,2020,12,12,68,95,5.7,7.9,"15,333","15,333"
35,2021,14,12,93,121,6.6,10.1,"16,359","16,359"
36,2022,14,14,105,102,7.0,7.0,"17,034","17,034"
37,2023,13,11,81,59,6.0,5.0,"17,034","17,034"
38,2024,11,10,56,56,5.0,5.0,"15,937","15,973"

## Change Column Names to Make Accesing the Columns Easier

In [28]:
df.columns

Index(['Year', 'Number_of_Packs_Monitored_Spring',
       'Number_of_Packs_Monitored_Fall', 'Wolves_Counted_Spring',
       'Wolves_Counted_Fall', 'Mean_Pack_Size_Spring', 'Mean_Pack_Size_Fall',
       'Area_Square_KM_of_Monitored_Packs_Spring',
       'Area_Square_KM_of_Monitored_Packs_Fall'],
      dtype='object')

In [29]:
df.rename(columns= { 'Number_of_Packs_Monitored_Spring':'PacksSpring'}, inplace=True)

In [30]:
df.rename(columns= { 'Number_of_Packs_Monitored_Fall':'PacksFall'}, inplace=True)

In [38]:
df.rename(columns= { 'Wolves_Counted_Spring':'WolfCountSpring'}, inplace=True)

In [32]:
df.rename(columns= { 'Wolves_Counted_Fall':'WolfCountFall'}, inplace=True)

In [33]:
df.rename(columns= { 'Wolves_Counted_Spring':'WolfCountSpring'}, inplace=True)

In [34]:
df.rename(columns= { 'Area_Square_KM_of_Monitored_Packs_Spring':'AreaSqrKMSpring'}, inplace=True)

In [35]:
df.rename(columns= { 'Area_Square_KM_of_Monitored_Packs_Fall':'AreaSqrKMFall'}, inplace=True)

In [36]:
df.columns

Index(['Year', 'PacksSpring', 'PacksFall', 'WolfCountSpring', 'WolfCountFall',
       'Mean_Pack_Size_Spring', 'Mean_Pack_Size_Fall', 'AreaSqrKMSpring',
       'AreaSqrKMFall'],
      dtype='object')

## Combine the Wolves Counted, Packs Monitored, and Area Surveyed into Single Columns in Order to Perform Plots to Answer Analysis Questions

In [52]:
WolfCount=df.WolfCountSpring+df.WolfCountFall

In [44]:
PackCount=df.PacksSpring+df.PacksFall

In [53]:
Area=df.AreaSqrKMSpring+df.AreaSqrKMFall

## Add These New Columns to the Original Data Frame

In [57]:
df['WolfCount']=WolfCount

In [58]:
df['PackCount']=PackCount

In [60]:
df['Area']=Area

## Create a New Data Frame With the Renamed Columns and New Columns

In [63]:
df2=df[['Year','WolfCount','PackCount','Area','PacksSpring', 'PacksFall', 'WolfCountSpring', 'WolfCountFall','AreaSqrKMSpring','AreaSqrKMFall']]

## Save Data Frame of Cleaned Data to a New CSV File

In [64]:
df2.to_csv('WolfClean.csv', index=False)